<!DOCTYPE HTML>
<html>
	<head>
		<title>Internet Banking - Login</title>
	</head>
	<body>
		<h3>Welcome to FMSE Internet Banking</h3>
		<form method="POST" action="login.abs">
			<table>
				<tbody>
					<tr>
						<td><input type="text" name="card_number" placeholder="Your card number" /></td>
					</tr>
					<tr>
						<td><input type="text" name="pin" placeholder="Your PIN number" /></td>
					</tr>
				</tbody>
			</table>
			<br />
			<input type="submit" value="login" />
		</form>
	</body>
</html>